.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: #fff;
}

.header-icons {
  display: flex;
  gap: 1rem;
}

.header-icons a:hover i {
  color: #d34040;
  animation: translateY 0.8s infinite alternate;
  transition: all 0.3s ease;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.6s ease;
}

.header-button:hover {
  background-color: #d34040;
  border: 1px solid #d34040;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .header-content {
    flex-direction: column;
    gap: 1rem;
  }
  .header-logo {
    width: 150px;
    margin-bottom: 2rem;
  }
  .header-icons {
    margin-top: 1rem;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../assets/bg.svg");
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.hero {
  color: #fff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 940px;
  text-align: center;
}
.hero h1 {
  font-size: 2.9rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.button-contact {
  background-color: #d94140;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.button-contact:hover {
  background-color: #b42b2b;
  animation: scaleButton 0.8s alternate infinite;
}
@keyframes scaleButton {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 2.4rem;
    width: 100%;
  }
  .hero p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 375px) {
  .hero {
    min-height: 40vh;
  }
  .hero h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .hero p {
    font-size: 0.9rem;
    margin-bottom: 3rem;
  }
  .hero .button-contact {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}
.about {
  background-color: #06121e;
  overflow: hidden;
  color: #fff;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.about-content img {
  max-width: 570px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.about-description p {
  font-size: 1.2rem;
  line-height: 150%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    gap: 2rem;
  }
  .about-content div {
    text-align: center;
  }
  .about-content img {
    max-width: 100%;
  }
  .about-description h2 {
    font-size: 2.5rem;
  }
  .about-description p {
    font-size: 1rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121e;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
